.bg-custom {
	background-color: #d5d5d8;
	margin-bottom: -20px;
}

#search-label {
	font-weight: bold;
}

#selected-city {
	height: 220px;
}

.blue-card {
	height: 216px;
	background-color: #3a749e;
	color: white;
	padding: 8px 8px 4px 8px; 
	width: 145px;
	margin-left: 15px;
	margin-top: 2px;
	margin-bottom: 15px;
	display: inline-block;
}

h4 {
	font-weight: bold;
	margin-top: -20px;
}   

.blue-card-date {
	font-weight: bold;
}


	/* Media Queries */
@media only screen and (max-width: 496px) {
.blue-card {
	max-width: 496px;
	/* flex-direction: wrap;
	flex-wrap: wrap; */
}
}

@media only screen and (max-width: 496px) {
#selected-city {
height: 280px;
}
h4 {
	margin-top: 5px;
}
}
